.img1 {
    margin-left: 38%;
    height: 45vh;
    border-radius: 50%;
}

.img2 {
    height: 5vh;

    
}
b {
    text-align: center;
    font-size: 4rem;
    margin-left: 40%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}
body {
    background-color:rgb(8, 35, 58) ;
    color: rgb(155, 2, 2);
       

}

.img3 {
    margin-left: 38%;
    height: 45vh;
    border-radius: 50%;
    width: 25%;

    
}


.b1 {
    text-align: center;
    font-size: 4rem;
    margin-left: 25%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}

.img5 {
    margin-left: 36%;
    height: 40vh;
 border-radius: 20px;
    
}